name: JSON Library Sorter and Doc Gen

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - "library/library.json"
      - ".github/workflows/json_librarian.yaml"
      - ".github/workflows/scripts/library_doc/**"

jobs:
  librarian:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/astral-sh/uv:trixie-slim
      options: --user root
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0
          clean: false

      - run: git rev-parse HEAD
      
      - name: Install build tools
        run: |
          apt-get update
          apt-get install -y --no-install-recommends git

      - name: Update Library Files
        run: |
          uv sync --only-group library
          uv run .github/scripts/library_doc/update_library_files.py

      - name: Debug path
        run: pwd && ls -la

      - name: Commit any changes
        uses: stefanzweifel/git-auto-commit-action@v7